---
layout: command_storage
title: List of commands
prefix: db!
---
<style>
    table {
        word-wrap: break-word;
        overflow: hidden;
    }
</style>

<div>
    <div class="row"></div>
    <div class="row">
        <div class="col s12">
            <input id="search_input" type="text" placeholder="Search for commands">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Command</th>
                    <th>Description</th>
                </tr>
                </thead>

                <tbody id="display">
                {% for command in layout.commands %}
                <tr id="{{ command.name }}">
                    <td>{{ page.prefix }}{{ command.name }}</td>
                    <td>{{ command.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const commandsRaw = {% include commands.json %};

    //commands.find(x => x.name === name || x.aliases.includes(name))
    const input = document.getElementById('search_input');
    const display = document.getElementById('display');

    input.addEventListener('keyup', () => {
        let sorted = commandsRaw.sort((a, b) => a.name.localeCompare(b.name));

        if (input.value) {
            const toSearch = input.value.replace('db!', '').toLowerCase();

            sorted = sorted.filter(x => x.name.includes(toSearch) || x.aliases.includes(toSearch));
        }

        display.innerHTML = buildCommandList(sorted);
    });

    function buildCommandList(items) {

        if (!items.length) {
            return `
                <tr>
                    <td colspan="2">
                        <p class="center">No commands found</p>
                    </td>
                </tr>
            `;
        }

        let output = '';

        for (let command of items) {
            output += `
                <tr id="${command.name}">
                    <td>{{ prefix }}${command.name}</td>
                    <td>${command.help}</td>
                </tr>
            `;
        }

        return output;
    }

</script>
