---
layout: command_storage
title: List of commands
prefix: db!
---
<table class="striped" id="static-list">
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
    </tr>
    </thead>

    <tbody>
    {% for command in layout.commands %}
    <tr id="{{ command.name }}">
        <td>{{ page.prefix }}{{ command.name }}</td>
        <td>{{ command.description }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div id="commandList">
    <input type="text" v-model="search" placeholder="Search for commands">
    <table class="striped">
        <thead>
        <tr>
            <th>Command</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        {% raw %}
        <tr v-for="(command, i) in commands" :id="command.name">
            <td>{{ prefix }}{{ command.name }}</td>
            <td v-html="command.help"></td>
        </tr>
        {% endraw %}
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    const commandsRaw = {% include commands.json %};

    //commands.find(x => x.name === name || x.aliases.includes(name))

    window.onload = () => {
        new Vue({
            el: '#commandList',
            data: {
                // commands: commands,
                search: '',
                prefix: '{{ page.prefix }}'
            },
            mounted() {
                const el = document.getElementById('static-list');
                el.parentNode.removeChild(el);
            },
            computed: {
                commands () {
                    let sorted = commandsRaw.sort((a, b) => a.name.localeCompare(b.name));

                    if (this.search) {
                        sorted = sorted.filter(x => x.name.includes(this.search) || x.aliases.includes(this.search));
                    }

                    return sorted;
                },
            },
        });
    };
</script>
